<!--init CSS-->
<content th:fragment ="head" th:remove="tag">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <!-- Favicon -->
    <link th:href="@{/assets1/img/brand/favicon.png}" rel="icon" type="image/png">

    <!-- Fonts -->
    <!--<link href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800" rel="stylesheet">-->
    <link th:href="@{/assets1/css/font.css}" rel="stylesheet">

    <!-- Icons -->
    <link th:href="@{/assets1/css/icons.css}" rel="stylesheet">

    <!--Bootstrap.min css-->
    <link th:href="@{/assets1/plugins/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Ansta CSS -->
    <link th:href="@{/assets1/css/dashboard.css}" rel="stylesheet" type="text/css">

    <!-- Tabs CSS -->
    <link th:href="@{/assets1/plugins/tabs/style.css}" rel="stylesheet" type="text/css">

    <!-- jvectormap CSS -->
    <link th:href="@{/assets1/plugins/jvectormap/jquery-jvectormap-2.0.2.css}" rel="stylesheet" />

    <!-- Custom scroll bar css-->
    <link th:href="@{/assets1/plugins/customscroll/jquery.mCustomScrollbar.css}" rel="stylesheet" />

    <!-- Sidemenu Css -->
    <link th:href="@{/assets1/plugins/toggle-sidebar/css/sidemenu.css}" rel="stylesheet">

    <!-- Custom CSS -->
    <link th:href="@{/assets1/css/custom.css}" rel="stylesheet">

    <!-- DaterangePicker CSS-->
    <link th:href="@{/assets1/plugins/daterangepicker/daterangepicker.css}" rel="stylesheet"/>

    <!--	<link th:src="@{/assets/plugins/bootstrap-select/css/bootstrap-select.css}" rel="stylesheet"/>-->
    <!--	<link th:src="@{/assets/plugins/bootstrap-select/css/bootstrap-select.min.css}" rel="stylesheet"/>-->
</content>

<!--init script-->
<content th:fragment="script" th:remove="tag">
    <!-- Core -->
    <script th:src="@{/assets1/plugins/jquery/dist/jquery.min.js}"></script>
    <script th:src="@{/assets1/js/popper.js}"></script>
    <script th:src="@{/assets1/plugins/bootstrap/js/bootstrap.min.js}"></script>

    <!-- Echarts JS -->
    <!--<script th:src="@{/assets/plugins/chart-echarts/echarts.js}"></script>-->

    <!-- Fullside-menu Js-->
    <script th:src="@{/assets1/plugins/toggle-sidebar/js/sidemenu.js}"></script>

    <!-- Custom scroll bar Js-->
    <script th:src="@{/assets1/plugins/customscroll/jquery.mCustomScrollbar.concat.min.js}"></script>

    <!-- peitychart -->
    <script th:src="@{/assets1/plugins/peitychart/jquery.peity.min.js}"></script>
    <script th:src="@{/assets1/plugins/peitychart/peitychart.init.js}"></script>

    <!-- DaterangePicker JS-->
    <script th:src="@{/assets1/plugins/daterangepicker/moment.min.js}"></script>
    <script th:src="@{/assets1/plugins/daterangepicker/daterangepicker.js}"></script>

    <!-- Data tables -->
    <script th:src="@{/assets1/plugins/datatable/jquery.dataTables.min.js}"></script>
    <script th:src="@{/assets1/plugins/datatable/dataTables.bootstrap4.min.js}"></script>

    <!-- Ansta JS -->
    <script th:src="@{/assets1/js/custom.js}"></script>
    <!--<script th:src="@{/assets/js/dashboard-sales.js}"></script>-->
    <!-- -->
    <script th:src="@{/assets1/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js}"></script>
    <script th:src="@{/assets1/js/bootstrap-filestyle.min.js}"></script>
</content>