<content th:fragment="content" th:remove="tag">
    <!-- Top navbar -->
    <nav class="navbar navbar-top  navbar-expand-md navbar-dark" id="navbar-main">
        <div class="container-fluid">
            <a aria-label="Hide Sidebar" class="app-sidebar__toggle" data-toggle="sidebar" href="#"></a>
            <!-- Brand -->
            <a class="navbar-brand pt-0 d-md-none" th:href="@{/home/index.html}">
                <!--<img th:src="@{/assets/img/brand/logo-light.png}" class="navbar-brand-img" alt="...">-->
            </a>
            <!-- Form -->
            <form class="navbar-search navbar-search-dark form-inline mr-3 ml-lg-auto">
                <div class="form-group mb-0">
                    <div class="input-group input-group-alternative">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-search"></i></span>
                        </div><input class="form-control" placeholder="Search" type="text">
                    </div>
                </div>
            </form>

            <!-- User -->
            <ul class="navbar-nav align-items-center ">
                <li class="nav-item d-none d-md-flex">
                    <div class="dropdown d-none d-md-flex mt-2 ">
                        <a class="nav-link full-screen-link pl-0 pr-0"><i class="fe fe-maximize-2 floating " id="fullscreen-button"></i></a>
                    </div>
                </li>
                    <li class="nav-item dropdown">
                    <a aria-expanded="false" aria-haspopup="true" class="nav-link pr-md-0" data-toggle="dropdown" href="#" role="button">
                        <div class="media align-items-center">
                            <span class="avatar avatar-sm rounded-circle">
                                <img alt="Image placeholder" th:src="@{/assets1/img/brand/logo2.png}">
                            </span>
                            <div class="media-body ml-2 d-none d-lg-block">
                                <span th:text="${#strings.toUpperCase(session.userName)}" class="mb-0 "></span>
                            </div>
                        </div></a>
                    <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
                        <!--<div class=" dropdown-header noti-title">-->
                        <!--<h6 class="text-overflow m-0"></h6>-->
                        <!--</div>-->
                        <a class="dropdown-item" th:href="@{/account/change_password.html}"><i class="ni ni-single-02"></i> <span>Đổi mật khẩu</span></a>
                        <!--<div class="dropdown-divider"></div>-->
                        <a class="dropdown-item" th:href="@{/logout}"><i class="ni ni-user-run"></i> <span>Đăng xuất</span></a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <!-- Top navbar-->
</content>